#header .navbar .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

#header .navbar .menu li {
  list-style: none;
  padding: 1rem; 
}

#header .navbar .menu li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#header .navbar .nav-toggle {
  display: none;
}

#main-content, #header, #footer{
  margin: 0 auto;
  max-width: 1100px;
  max-height: 2041px;
}

#main-content .main-section {
  margin: 5rem auto;
  width: 80%;
}

#main-content .main-section .content-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-content .main-section .content-about .text-about{
  width: 60%;
}
#main-content .main-section .content-about .text-about h1{
  font-size: 44px;
  font-weight: 700;
}

#main-content .main-section .content-about .text-about p{
  margin-top: 20px;
}

#main-content .main-section .content-about .photo-about{
  width: 40%;
  text-align: center;
}

#main-content .main-section .content-button .resume {
  background-color: #00A8CC;  
  width: 208px;
  height: 47px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
  margin-top: 20px;
}

#main-content .posts-section {
  background-color: #EDF7FA;
  min-height: 396px;
  padding: 5px;
}

#main-content .posts-section .posts-content{
  width: 80%;
  margin: 0 auto;
}

#main-content .posts-section .menu-posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#main-content .posts-section .posts-content h2{
  font-size: 22px;
  font-weight: 400;
}

#main-content .posts-section .menu-posts > p > a {
  font-size: 16px;
  font-weight: 400;
  color: #00A8CC;
}

#main-content .posts-section .boxes{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#main-content .posts-section .boxes .box {
  width: 415px;
  min-height: 295px;
  background-color: white;
  margin: 0 10px 0 0;
  padding: 2rem;
  flex: 1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 5%);
  border-radius: 5px;
}

#main-content .posts-section .boxes .box:hover{
  box-shadow: none;
  border-radius: none;
  transform: scale(1.1, 1.1);
  transform: translate(5px, 5px);
}

#main-content .posts-section .boxes .box:last-child{
  margin-right: 0px;
}

#main-content .posts-section .box .box-title{
  font-size: 20px;
}

#main-content .posts-section .box .box-date {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

#main-content .posts-section .box .box-date .date {
  margin-right: 30px;
}

/* #main-content .posts-section .box .box-date .subject {
border-left: 1px solid black;
margin-left: 10px;
} */

#main-content .posts-section .box .box-content {
  margin-top: 20px;
}

#main-content .posts-section .box .box-content p{
  font-size: 16px;
}

#main-content .works-content {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

#main-content .works-section .works-box {
  display: flex;
  /* width: 80%; */
}

#main-content .works-section .works-box .works-box-content{
  flex-direction: column;
  margin-left: 20px;
}

#main-content .works-section .works-content .work-title h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 2rem 0;
}

#main-content .works-section .works-box .works-box-content .works-box-title h1{
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
}

#main-content .works-section .works-box .works-box-content .works-box-year-subject{
  margin-top: 10px;
}

#main-content .works-section .works-box .works-box-content .works-box-year-subject .year{
  display: flex;
  background-color: #142850;
  color: white;
  width: 18%;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  font-weight: 900;
  font-size: 18px;
  justify-content: center;
}

#main-content .works-section .works-box .works-box-content .works-box-year-subject .subject {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #8695A4;
}

#main-content .works-section .works-box .works-box-content .works-box-content-text{
  margin-top: 10px;
}

#main-content .works-section .works-box.works-box-main {
  border-bottom: 1px solid #E0E0E0;
  margin-top: 20px;
}

#main-content .works-section .works-box.works-box-main .thumbimage > img {
  margin: 0 auto 20px auto;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#footer .social{
  margin-top: 50px;
  display: flex;
}

#footer .social img{
  margin: 20px;
}



@media (max-width: 900px){

  #header .navbar .menu{
    display: none;
  }

  #header .navbar .nav-toggle {
    display: block;
    text-align: right;
    font-size: 2rem;
    margin: 50px 50px 0 0;
  }

  #main-content .main-section {
    width: 375px;
  }

  .main-section .content-about{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .main-section .photo-about{
/*     display: flex;
    align-items: center;*/
    margin-left: -100px;
  }
  
  #main-content .main-section .content-about .text-about{
    align-items: center;
    margin: auto;
    width: 100%;
  }

 #main-content .main-section .content-about .text-about h1{
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
  }

  #main-content .main-section .content-about .text-about p{
    font-size: 16px;
    text-align: justify;
  }

  #main-content .main-section .content-button {
    text-align: center;
  }

  #main-content .main-section .content-button .resume {
    width: 208px;
    height: 47px;
  }
  
  
  .main-section, .posts-section, .works-section{
    margin: 10px auto;
  }

  #main-content .posts-section {
    width: 375px;
    padding: 20px;
  }

  #main-content .posts-section .boxes{
    display: flex;
    flex-direction: column;
  }

  #main-content .posts-section .boxes {
    align-items: center;
  }

  #main-content .posts-section .boxes .box {
    margin: 10px 0 0 0;
    flex: 1;
    width: 354px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 5%);
    border-radius: 5px;
    }

    #main-content .posts-section .posts-content h2 {
      font-size: 18px;
      margin: 0 auto 12px auto;
      font-weight: 400;
    }

    #main-content .posts-section .menu-posts > p > a{
      display: none;
    }

    #main-content .works-section .works-box .works-box.works-box-content {
      margin-left: 0;
    }

    #main-content .works-section .works-box{
      flex-direction: column;
    }    
    #main-content .works-section .works-content {
      width: 354px;
    }

    #main-content .works-section .works-box.works-box-main {
      border-bottom: 1px solid #E0E0E0;
    }

    #main-content .works-section .works-content .work-title h2{
      font-size: 18px;
      text-align: center;
    }

    #main-content .works-section .works-box .thumbimage img {
      display: flex;
      margin-bottom: 20px;
      width: 100%;

    }

    #main-content .works-section .works-box .works-box.works-box-content .works-box-title h1{
      font-size: 21px;
    }

    #main-content .works-section .works-box .works-box.works-box-content .works-box.works-box-year-subject {
      flex-direction: row;
    }

    #main-content .works-section .works-box.works-box2, #main-content .works-section .works-box.works-box3 {
      display: none;
    }
  }